body{
    background-color: rgb(48, 148, 148);
}
#tittle {
    color: sandybrown;
    padding: 25px;
    background-color: slategrey;
    font-family: 'Galada', cursive,Arial, Helvetica, sans;
    font-size: 34px;
    text-align: left;
    margin: -9px;
  
}
.thick-green-boarder{
    border-color: sandybrown;
    box-shadow: seagreen;
    border-style: solid;
    border-width: 9px;
    border-radius: 7px;
}
#para{
    color: brown;
    font-size: 20px;
    font-family: monospace;
}
li{
    padding: 13px;
}
.larger-image{
    width: 400px;
    height: ;
}
#con{
    padding: 50px 4px 50px 4px;
    background-color: tomato;
    margin: 20px 475px 20px 20px;
    border-radius: 10px;
}
#con2{
    padding: 50px 0px 50px 40px;
    background-color: tomato;
    margin: 20px 20px 20px 475px;
    border-radius: 10px;}
.small{
    width: 250px;
    height: 200;
}
button{
    width: 25;
    height: 12;

}